<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :parent %><br />
  <%= f.select :parent_id, options_for_select(Element, @element) {|i| "#{'-' * i.ancestry_depth.to_i} #{i.name}" } %>
</p>
<p>
  <%= f.label :position %><br />
  <%= f.text_field :position %>
</p>

