<div id="element_form_tabs">
  <ul>
    <li><a href="#element_tab1">Element</a></li>
    <li><a href="#element_tab2"><%= f.object.new_record? ? "Type" : f.object.attachable.class %></a></li>
  </ul>
  <div id="element_tab1">
<% f.inputs do %>
  <%= f.input :name, :label => 'Name' %>
  <%#= f.input :parent_id,  :as => :select, :collection => options_for_select(Element, @element) {|i| "#{'-' * i.ancestry_depth.to_i} #{i.name} #{"(#{i.attachable.class})" if i.has_attachable?}" } %>
  <%= f.input :tag_list, :label => 'Tag List' %>
<% end %>
  </div>
  <div id="element_tab2">
<% f.inputs do %>
  <%= f.input :attachable_type,  :as => :select, :collection => Element::COMPONENTS, :prompt => "Select one:" %>
  <div id="component">
  <% if !f.object.nil? and f.object.has_attachable? %>
    <% f.semantic_fields_for :attachable, f.object.attachable do |builder|  %>
      <%= builder.hidden_field :attachable_type, :value => builder.object.class.to_s %>
      <%= render "#{f.object.attachable.class.to_s.tableize}/form", :f => builder %>
    <% end %>
  <% end %>
  </div>
<% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#element_form_tabs").tabs({
      cookie: {
				// store cookie for a day, without, it would be a session cookie
				expires: 1
			}
    });
    $('#element_attachable_type').change(function() {
      var type = $(this).val();
      $.post(
        '<%= new_element_attachable_from_params_elements_url %>',
        {attachable_type:type},
        function (data){$("#component").html(data)}
      )
    });
  });
</script>
