<div id="form_tabs">
  <ul>
    <li><a href="#tab1">Element</a></li>
    <li><a href="#tab2">Attachable</a></li>
  </ul>
  <div id="tab1">
    <fieldset id="element">
    <%= f.label :element %><br />
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :parent %><br />
      <%= f.select :parent_id, options_for_select(Element, @element) {|i| "#{'-' * i.ancestry_depth.to_i} #{i.name} #{"(#{i.attachable.class})" if i.has_attachable?}" } %>
    </p>
    <p>
      <%= f.label :position %><br />
      <%= f.text_field :position %>
    </p>
    <p>
      <%= f.label :tag_list %><br />
      <%= f.text_field :tag_list %>
    </p>
  </div>
  <div id="tab2">
    <% unless f.object.nil? and f.object.has_attachable? %>
      <%= f.select "attachable_type", Element::COMPONENTS,
        { :prompt => "Select one:" },
        { :onchange => remote_function(
                          :url => new_component_elements_url,
                          :with => "'attachable_type='+this.value",
                          :update => "component")
        } %>
      <div id="component"></div>
    <% else %>
      <% f.fields_for :attachable, f.object.attachable do |builder|  %>
        <%= builder.hidden_field :attachable_type, :value => builder.object.class.to_s %>
        <%= render "#{f.object.attachable.class.to_s.tableize}/form", :f => builder %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#form_tabs").tabs();
  });
</script>
