<h1>Listing elements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Ancestry</th>
    <th>Ancestry depth</th>
    <th>Position</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.title %></td>
    <td><%= element.ancestry %></td>
    <td><%= element.ancestry_depth %></td>
    <td><%= element.position %></td>
    <td><%= element.type %></td>
    <td><%= link_to 'Show', element %></td>
    <td><%= link_to 'Edit', edit_element_path(element) %></td>
    <td><%= link_to 'Destroy', element, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Element', new_element_path %>
