<h1>Listing elements</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Ancestry</th>
    <th>Ancestry depth</th>
    <th>Attachable id</th>
    <th>Attachable type</th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%=h element.name %></td>
    <td><%=h element.position %></td>
    <td><%=h element.ancestry %></td>
    <td><%=h element.ancestry_depth %></td>
    <td><%=h element.attachable_id %></td>
    <td><%=h element.attachable_type %></td>
    <td><%= link_to 'Show', element %></td>
    <td><%= link_to 'Edit', edit_element_path(element) %></td>
    <td><%= link_to 'Destroy', element, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New element', new_element_path %>