<h1>New element</h1>

<% form_for(@element) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :ancestry %><br />
    <%= f.text_field :ancestry %>
  </p>
  <p>
    <%= f.label :ancestry_depth %><br />
    <%= f.text_field :ancestry_depth %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', elements_path %>