<h1>Editing article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>
  <%= render "elements/form", :f => f %>
  <%= render "form", :f => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

