<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Keywords</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.title %></td>
    <td><%=h page.description %></td>
    <td><%=h page.keywords %></td>
    <td class="show"><%= link_to content_tag("span",'Show'), page %></td>
    <td class="edit"><%= link_to content_tag("span",'Edit'), edit_page_path(page) %></td>
    <td class="destroy"><%= link_to content_tag("span",'Destroy'), page, :confirm => 'Are you sure?', "data-remote" => true, "data-method" => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>