<%
page_title h(@page.title)
content_for :description, h(@page.description)
content_for :keywords, h(@page.title)
navigation_for(request.domain)
%>
<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @page.keywords %>
</p>

<p>
  <b>Description:</b>
  <%=h @page.description %>
</p>

<% @page.element.children.each do |element| %>
  <%= render element.attachable unless element.attachable.is_a?(Page) %>
<% end %>

<% if user_signed_in? %>
<div id="admin_page_links">
  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'Back', pages_path %>
</div>
<% end %>

<% if @page.show_share_links? %>
<div id="page_share_links">
  <%= render "shared/add_this_button.html" %>
</p>
<% end %>

