<fieldset id="<%= f.object.class.to_s.downcase %>">
<% f.inputs do %>
  <%= f.input :attachable_type, :as => :hidden, :value => f.object.class.to_s unless f.object.is_a?(Picture) %>
  <%= f.input :title, :label => 'Title' %>
  <%= f.input :description, :label => 'Description' %>
  <div id="<%= "picture-#{f.object.element.id}-preview" %>">
    <% if f.object.image.file? %>
    <%= image_tag f.object.image.url(:small_thumb) %>
    <% end %>
  </div>
  <%= f.input :image, :as => :file, :label => 'Image' %>
<% end %>
</fieldset>