<% f.inputs do %>
  <%= f.input :attachable_type, :as => :hidden, :value => f.object.class.to_s unless f.object.is_a?(Picture) %>
  <%= f.input :title, :label => 'Title' %>
  <%= f.input :description, :label => 'Description' %>
  <% if f.object.image.file? %>
  <li>
    <label for="preview"></label>
    <div id="<%= "picture-#{f.object.element.id}-preview" %>">
      <%= image_tag f.object.image.url(:small_thumb) %>
    </div>
  </li>
  <% end %>
  <%= f.input :image, :as => :file, :label => 'Image' %>
<% end %>
