<h1>Editing picture</h1>

<% form_for(@picture) do |f| %>
  <%= f.error_messages %>

  <%= render "elements/fields", :f => f %>
  <!--%= render "form", :f => f %-->
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>