<% @classname = f.object.class.to_s.downcase %>
<div id="<%= @classname %>_form_tabs">
  <ul>
    <li><a href="#<%= @classname %>_tab1">Settings</a></li>
    <li><a href="#<%= @classname %>_tab2">Images</a></li>
  </ul>
  <div id="<%= @classname %>_tab1">
    <fieldset id="<%= @classname %>">
      <%= f.hidden_field :attachable_type, :value => f.object.class.to_s %>
      <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>
      </p>
      <p>
        <%= f.label :layout_name %><br />
        <%= f.select :layout_name, [["Standard", 'standard'], ["Slideshow", 'slideshow'], ["Custom", 'custom']] %>
      </p>
      <p id="<%= @classname %>_custom_layout_content">
        <%= f.label :custom_layout_content %><br />
        <%= f.text_area :custom_layout_content, :rows => 12, :escape => false %>
      </p>
    </fieldset>
  </div>
  <div id="<%= @classname %>_tab2">
    <fieldset id="<%= @classname %>">
      # add pictures here
    </fieldset>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#<%= @classname %>_form_tabs").tabs();
  if ($("#<%= @classname %>_layout_name").val() != "custom") {
    $("#<%= @classname %>_custom_layout_content").hide();
  }
  $("#<%= @classname %>_layout_name").change(function() {
  switch($(this).val()) {
   case 'custom':
    $('#<%= @classname %>_custom_layout_content').fadeIn();
    break;
   default:
    $('#<%= @classname %>_custom_layout_content').fadeOut();
  }
 });
});
</script>
