<h1>Editing text</h1>

<% form_for(@text) do |f| %>
  <%= f.error_messages %>
  <%= render "elements/form", :f => f %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @text %> |
<%= link_to 'Back', texts_path %>