<h1>Listing texts</h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% @texts.each do |text| %>
  <tr>
    <td><%=h text.body %></td>
    <td><%= link_to 'Show', text %></td>
    <td><%= link_to 'Edit', edit_text_path(text) %></td>
    <td><%= link_to 'Destroy', text, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New text', new_text_path %>