<h1>New image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>
  <%= render "elements/form", :f => f %>

  <p>
    <%= f.label :image_file_name %><br />
    <%= f.text_field :image_file_name %>
  </p>
  <p>
    <%= f.label :image_content_type %><br />
    <%= f.text_field :image_content_type %>
  </p>
  <p>
    <%= f.label :image_file_size %><br />
    <%= f.text_field :image_file_size %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>