<p>
  <b>Image file name:</b>
  <%=h @image.image_file_name %>
</p>

<p>
  <b>Image content type:</b>
  <%=h @image.image_content_type %>
</p>

<p>
  <b>Image file size:</b>
  <%=h @image.image_file_size %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>