<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="<%=yield(:keywords)%>"/>
  <meta name="description" content="<%=yield(:description)%>"/>
  <%= stylesheet_link_tag 'scaffold', 'themes/base/jquery.ui.all.css', 'element-gallery' %>
  <%= javascript_include_tag :defaults, 'jstree/jquery.jstree', 'jstree/_lib/jquery.cookie', 'jstree/_lib/jquery.hotkeys' %>
</head>
<body>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

ELEMENTS APPLICATION LAYOUT

<div id="navigation">
<%= yield :navigation %>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<%= yield :footer %>
</div>

</body>
</html>

