<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="<%=yield(:keywords)%>"/>
  <meta name="description" content="<%=yield(:description)%>"/>
  <%= stylesheet_link_tag 'scaffold', 'themes/base/jquery.ui.all.css' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= liquidize(@page.custom_layout_content,
        'content' => yield, 
        'title' => yield(:title),
        'navigation' => yield(:navigation),
        'footer' => yield(:footer)
        ) %>

</body>
</html>

