<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <%= render :file => '/layouts/_meta.html.erb', :locals => local_assigns %>
  <%= stylesheet_link_tag :theme, :fancybox, :textile_editor, :cache => true %>
  <%= javascript_include_tag :defaults, :layout, :jstree, :fancybox, :textile_editor, :cache => true %>
</head>

<body id="custom">

<%= render "shared/flashes" %>

<%= liquidize(@page.custom_layout_content,
        'content' => yield, 
        'admin' => yield(:admin), 
        'title' => yield(:title),
        'navigation' => yield(:navigation),
        'footer' => yield(:footer)
        ) %>

</body>
</html>
