<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<%= render :file => '/layouts/_head.html.erb', :locals => local_assigns %>

<body id="page">

<%= render "shared/flashes" %>

<div id="user_controls">
<%= render "shared/user_controls" %>
<%= yield :user_controls %>
</div>

<div id="navigation">
<%= yield :navigation %>
</div>

<div id="content">
<%= yield %>
<div class="clear"/>
</div>

<div id="footer">
<%= yield :footer %>
</div>

<small>Page</small>

</body>
</html>

